@import url("http://fonts.cdnfonts.com/css/gilroy-bold");

.body {
    position: relative;
    height: 100%;
    margin-left: 9vw;
    padding-top: 3.47vw;
    flex-direction: column;
    align-items: left;
}

.items-views {
    display: block;
    width: 4.16vw;
    height: 4.16vw;
    border-radius: 50px;
    font-size: 37px;
    text-align: center;
    background: #5B93FF20;
    line-height: 1.7em;
}

.items-links {
    display: block;
    width: 4.16vw;
    height: 4.16vw;
    border-radius: 50px;
    font-size: 37px;
    text-align: center;
    background: #FFC32720;
    line-height: 1.7em;
}

.items-rate {
    display: block;
    width: 4.16vw;
    height: 4.16vw;
    border-radius: 50px;
    font-size: 37px;
    text-align: center;
    background: #FF8F6B20;
    line-height: 1.7em;
}

.items-sales {
    display: block;
    width: 4.16vw;
    height: 4.16vw;
    border-radius: 50px;
    font-size: 37px;
    text-align: center;
    background: #605BFF20;
    line-height: 1.7em;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 1.38vw;
    width: 1.38vw;
    margin: 1.38vw;
}

.dashboard {
    position: relative;
    font-family: 'Gilroy-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    color: black;
}

.products {
    position: relative;
    width: 18.6vw;
    height: 11.08vh;
    background: #FFFFFF;
    border-radius: 22px;
    display: inline-block;
}

.prod-title {
    position: relative;
    width: 64px;
    height: 27px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */


    color: #000000;

    opacity: 0.7;
}

.prod-label {
    position: relative;
    width: 96px;
    height: 17px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #030229;

    opacity: 0.7;
}

.reports {
    position: relative;
    width: 48.75vw;
    height: 38.97vh;

    background: #FFFFFF;
    border-radius: 22px;
}

.countries {
    position: relative;
    width: 29.86vw;
    height: 38.97vh;

    background: #FFFFFF;
    border-radius: 22px;
}

.recentOrders {
    position: relative;
    width: 48.75vw;
    height: 38.97vh;

    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.04);
    border-radius: 22px;
}

.top {
    position: relative;
    width: 29.86vw;
    height: 38.97vh;

    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.04);
    border-radius: 22px 22px 22px 10px;
}